/* STUDIOCLOCK - a simple local web implementation of the clocks used in radio and video broadcast studio environments | https://www.github.com/kretchy/studiockock */

/*  ----------------------------
    --- define global colors --- 
    ----------------------------
        back ... background
        studio ... name of studio
        clock ... digital clock in the center HH:MM:SS format
        day ... day insert below digital clock in YYYY-MM-DD format
        labels ... the 5 minute number labels around the dotted circle
        inner ... basic color of inner circle
        outer ... basic color of outer circle
        active ... the color for the highlighted state of inner and outer circle
    ---------------------------- */

:root {
    --c-back: #000;
    
    --c-studio: #adadad;
    --c-clock: #c52525;
    --c-day: #9f2929;
    --c-labels: #756843;
    
    --c-inner: #a1a1a1;
    --c-outer: #d6bb7f;
    --c-active: #f00;
}

/*  ------------------------------------------------ */
/*  --- define the font for the clock and labels --- */
/*  ------------------------------------------------ */

@font-face { font-family: 'lcd-font';
             src: url('../fonts/REGISTER.TTF') format('truetype'); }

/*  -------------------------------------------------------------------- */
/*  --- define the font sizes for clock, meta information and labels --- */
/*  -------------------------------------------------------------------- */

.type-small { font-size: 2.8vmin; }
.type-medium {  font-size: 5.6vmin; }
.type-large { font-size: 10.1vmin; }

/*  ------------------------------------------------- */
/*  --- *** no customisation below this point *** --- */
/*  ------------------------------------------------- */

body {
    font-family: 'lcd-font';
	background-color: var(--c-back);
    margin: 0;
    padding: 0;
}

.labels { 
    font-size: 3.5vmin;
    color: var(--c-labels);
    position: fixed; }

/* the wrapper (container) necessary for horizontal and vertical centering in CSS  */

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

/* the three text elements inside the clock - note that all DIVs are vertically centered ('left'), but only the #clock has vertical centering ('top'). the DIVs #studio and #day receive the vertical centering in the JS. */

#studio {
	color: var(--c-studio);
    opacity: 0.75;
    margin: 0;
    position: absolute;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#clock {
    color: var(--c-clock);
    margin: 0;
    position: absolute;
    left: 50vw;
    top: 50vh;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#day {
    color: var(--c-day);
    opacity: 0.75;
    margin: 0;
    position: absolute;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* hidden pseudo-elements in order to use defined colours from CSS (see above) in JS canvas path fillStyle  */

#pseudo-inner { display: none; color: var(--c-inner); }
#pseudo-outer { display: none; color: var(--c-outer); }
#pseudo-active { display: none; color: var(--c-active); }